.add-task-card {
  padding: 0px 10px 0px 10px;
}

hr {
  margin-top: 10px;
}

small {
  color: red;
}

.card h2 {
  font-family: "Poppinss", sans-serif;
  font-weight: 700;
}

input {
  width: 100%;
  text-transform: capitalize;
}

textarea {
  width: 100%;
  font-size: 16px;
  resize: none;
  text-transform: capitalize;
}

.add-todo-btn {
  padding: 6px 30px 6px 30px;
}

.add-task-card h2 {
  position: relative;
  font-size: 30px;
  color: #fff0;
  -webkit-text-stroke: 0.3vw #fff0;
  text-transform: uppercase;
}

.add-task-card h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #23272b;
  -webkit-text-stroke: 0vw #fff0;
  border-right: 2px solid #23272b;
  overflow: hidden;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  40%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
